## Settings file was created by plugin Corter ModSync v0.4.0
## Plugin GUID: corter.modsync

[General]

## Sync server mods to client
# Setting type: Boolean
# Default value: false
SyncServerMods = false

